@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

*{
    box-sizing:border-box;
    outline: 0;   
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(222, 222, 247);
    font-family: 'Open sans', sans-serif;
}
.container{
    
    max-width: 640px;
    margin:20px auto;
    background-color: darkgrey;
    padding: 25px;
    border-radius: 12px;
    align-items: center;
}
.form :focus{
    background: 1px solid rgb(236, 30, 30);
}
.paragrafo-resultado, .bad{
    background:  aqua;
    padding: 10px;
    text-align: center;
}
.bad{
    background: red;
}
.texto{
    text-align: center;
}
.horas{
    align-items: center;
    
}
.texto{
    text-align: center;
}
.relogio{
    text-align: center;
    font-size: 45px;
}
.iniciar{
    align-items: center;
}
.stop{
  color: red;
}

/*  calculadora*/
.calculadora{
   align-items: center;
}
.display{
   width: 400px;
   
}
.btn{
    align-items: center;
    border-radius: 8px solid black;
    width: 96px;
    size:6px;
}
.btn-voltar{
    align-items: center;
    border-radius: 18px solid black;
    width: 96px;
    size:6px;
}
.bnt-link{
    text-decoration: none;
    color: black;
}
